<div class="bg-white text-color-black mt-5 mb-5">
    <div class="container">

        <div class="row spacing-4">

            <article class="col-3 spacing-6">
              <a ><h4 class="font-bold">informacao sobre nos</h4></a>
              <a href="#"><p class="">acerca de nos</p></a>
              <a href="#"><p class="">politica de privacidade</p></a>
              <a href="#"><p class="">termos e condicoes</p></a>
              <a href="#"><p class="">suporte tecnico</p></a>
            </article>

            <article class="col-3 spacing-6">
              <a ><h4 class="font-bold">servicos para o cliente</h4></a>
              <a href="#"><p class="">garantia e devolução</p></a>
              <a href="#"><p class="">metodos de pagamentos</p></a>
              <a href="#"><p class="">envio e entrega</p></a>
              <a href="#"><p class="">suporte tecnico</p></a>
            </article>

            <article class="col-3 spacing-6">
              <a ><h4 class="font-bold">Contacto</h4></a>
              <a href="#"><p class="">Morro bento, Luanda, AO</p></a>
              <a href="#"><p class="">info@moda.com</p></a>
              <a href="#"><p class="">+ 01 234 567 88</p></a>
              <a href="#"><p class="">+ 01 234 567 89</p></a>
            </article>

            <article class="col-3 ">
                <h4 class=" font-bold">Redes Sociais</h4>
                <a href="#" class=" fa fa-facebook-square"></a>
                <a href="#" class=" fa fa-instagram"></a>
                <a href="#" class=" fa fa-twitter-square"></a>
                {% comment %}<a href="#" class=" fa fa-linkedin-square"></a>{% endcomment %}

            </article>
        </div>

    </div>
</div>