
{% load staticfiles %}
{% load static %}
<div class="bg-white sticky-top">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light bg-white">
      <a class="navbar-brand" href="{% url 'homepage' %}">Fashion</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'homepage' %}">Paginal inicial <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homens
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">tudo</a>
              <a class="dropdown-item" href="#">calcas</a>
              <a class="dropdown-item" href="#">calcoes</a>
              <a class="dropdown-item" href="#">camisas</a>
              <a class="dropdown-item" href="#">casacos</a>
              <a class="dropdown-item" href="#">camizolas</a>
              <a class="dropdown-item" href="#">calsados</a>
              <a class="dropdown-item" href="#">acessorios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mulheres
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">calcas</a>
              <a class="dropdown-item" href="#">calcoes</a>
              <a class="dropdown-item" href="#">camisas</a>
              <a class="dropdown-item" href="#">camizolas</a>
              <a class="dropdown-item" href="#">calsados</a>
              <a class="dropdown-item" href="#">acessorios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Criancas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">calcas</a>
              <a class="dropdown-item" href="#">calcoes</a>
              <a class="dropdown-item" href="#">camisas</a>
              <a class="dropdown-item" href="#">camizolas</a>
              <a class="dropdown-item" href="#">calsados</a>
              <a class="dropdown-item" href="#">acessorios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de Nos </a>
          </li>
        </ul>
      </div>
    </nav>

</div>
</div>
